<%# <div class="container text-slate-500 text-lg flex" style="font-family: 'Montserrat'">
  <div class="p-2">Login</div>
  <div class="p-2">Register</>
</div> %>
<div class="authentication-modal">  
  
    <form action="/authentications" class="auth-form" method="post">
       <div>Create New User Account</div>      
  <input name="first_name" placeholder="First Name" type="text" class="auth-input"/>      
  <input name="last_name" placeholder="LastName" type="text" class="auth-input"/>    
  <input name="username" placeholder="Username" type="text" class="auth-input"/>
  <input name="email" placeholder="Email" type="email" class="auth-input"/>
  <div>
    <input name="password" placeholder="Password" type="password" class="auth-input"/>   
  </div>
  <div>
    <input name="confirm_password" placeholder="Confirm Password" type="password" class="auth-input"/>       
  </div>
  <div></div>
  <button type="submit">Register</button> 
      </form>
</div>
