<%# <div class="container text-slate-500 text-lg flex" style="font-family: 'Montserrat'">
  <div class="p-2">Login</div>
  <div class="p-2">Register</>
</div> %>
<div class="flex flex-col">
  <p id="notice"><%= notice %></p>
  <div id="auth-root"></div>
</div>